<header
  fxFill
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
  fxLayout.lt-sm="column"
>
  <img
    style="border-radius: 50%"
    src="assets/foto.jpg"
    alt="Profile picture"
    width="200"
  />
  <div fxLayoutAlign=" center" fxLayout="column">
    <h1>Michael Völker</h1>
    <h3>Software Engineer & Team Lead</h3>
    <p fxLayoutGap="10px">
      <a href="https://twitter.com/michaelxvoelker" title="Twitter"
        ><img
          height="32"
          width="32"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/twitter.svg"
      /></a>
      <a href="https://github.com/michaelxvoelker" title="Github"
        ><img
          height="32"
          width="32"
          src="https://cdn.jsdelivr.net/npm/simple-icons@v4/icons/github.svg"
      /></a>
    </p>
  </div>
</header>
